.creaturePanel {
  border-radius: 15px;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 3px solid black;

  &__titleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }

  &__title {
    color: var(--primary-btn-color);
    font-weight: bold;
    font-size: 24px;
    display: flex;
  }

  &__statsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__statsElement {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    flex-grow: 1;

    &__text {
      font-size: 15px;
      font-weight: bold;
      color: white;
      margin-bottom: 5px;
    }

    &__input,
    &__select {
      font-size: 15px;
      padding: 8px;
      color: white;
      border-radius: 8px;
      border: none;
      background-color: var(--secondary-bg-color);
      width: 100%;

      &:focus {
        outline: 2px solid var(--primary-btn-color);
      }
    }

    &__select {
      appearance: none;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right 8px center;
      background-size: 20px;
    }
  }
}