@use './bestiaryCard/BestiaryCard.module.scss' as card;

.bestiaryContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, clamp(129px, 50vw, card.$card-width));
  justify-content: space-evenly;
  width: 80vw;
  padding: 16px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .bestiaryContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .bestiaryContainer {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 8px;
  }
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;

  &__input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #9b9b9b;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
    }
  }
}

/* FILTER OVERLAY */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    width: 30%;
    font-size: 20px;
    font-weight: bolder;
  }

  &__closeBtn {
    cursor: pointer;
    background-color: var(--secondary-bg-color);
    filter: brightness(130%);
    padding: 0.5rem;
    transition: color 0.2s ease;
    border: 1px solid #b9b9b9;
    border-radius: 8px;
    opacity: 1;

    &:hover {
      opacity: 0.7;
    }
  }

  &__content {
    background-color: var(--primary-bg-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 700px;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
