.pageContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  container-type: inline-size;
  container-name: bestiary-container;
}

.bestiaryContainer {
  width: 100%;
  margin-top: 80px;

  &__outlet {
    width: 35%;
  }
}

@container bestiary-container (max-width: 1080px) {
  .bestiaryContainer {
    &__outlet {
      display: none;
    }
  }
}

.bestiaryContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
  padding: 1rem 0;
  box-sizing: border-box;
}

.spinnerContainer {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
