.toastContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--toast-bg-color);
  max-width: 280px;
  gap: 1rem;

  &__leftSection {
    width: fit-content;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__rightSection {
    color: #ffffff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    flex: 1;
  }

  &__diceRolls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__diceGreen {
    color: green;
  }

  &__diceRed {
    color: red;
  }
}
