.wrapper {
  width: 300px;
  height: 400px;
  box-sizing: border-box;

  display: inline-block;
  border: 8px solid var(--token-border-color);
  background-color: var(--primary-bg-color);

  &.circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
  }
}

.container {
  width: 100%;
  height: 100%;
  pointer-events: initial;
  cursor: pointer;
  overflow: hidden;
  touch-action: none;

  &.draggable {
    cursor: grab;
  }

  &.dragging {
    cursor: grabbing;
  }

  &.circle {
    border-radius: 50%;
  }
}

.dropText {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    color: var(--text-color-secondary, #6a6a6a);
    text-align: center;
  }
}
