.container {
    width: 280px;
    height: 280px;
    pointer-events: initial;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    touch-action: none;
  
    &.draggable {
      cursor: grab;
    }
  
    &.dragging {
      cursor: grabbing;
    }
  }
  
  .dropText {
    display: none;
  
    @media (min-width: 768px) {
      display: block;
    }
  
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: calc((100% - 256px) / 2);
      font-size: calc(var(--main-font-size) * 2);
      color: var(--text-color-secondary, #6a6a6a);
      text-align: center;
    }
  }
  