.trackPanel {
  margin-top: auto;
  display: flex;

  &__bestiaryLink {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: flex-end;

    a {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.tracker {
  display: flex;
  width: 80%;
  align-items: flex-end;
}

.activeTracker {
  display: flex;
  width: 80%;

  &__battleInfo {
    flex-direction: column;
    display: flex;
    width: fit-content;
    gap: 0.5rem;
    margin-left: 1rem;
  }
}
