.diceTrayWidget {
  height: 100%;
}

.diceTrayWidget__header {
  box-sizing: border-box;
  border-radius: 15px;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border: 3px solid black;
  margin-bottom: 5px;
  z-index: 3;
}

.diceTrayWidget__toggleButton {
  background-color: var(--primary-btn-color);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  cursor: pointer;

  /* если нужны дополнительные эффекты при наведении */
  &:hover {
    opacity: 0.9;
  }
}
