.sensesPanel {
  border-radius: 15px;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 3px solid black;
  margin-bottom: 20px;

  &__titleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__title {
    color: var(--primary-btn-color);
    font-weight: bold;
    font-size: 24px;
  }

  &__senses {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__sense {
    flex: 1;
    min-width: 200px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
  }

  &__input {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    color: white;
    background-color: var(--secondary-bg-color);
    border: none;
    border-radius: 6px;
    margin-top: 4px;

    &:focus {
      outline: 2px solid var(--primary-btn-color);
    }

    /* Remove arrows in number input */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }

  &__checkbox {
    margin-top: 8px;
  }

  &__checkboxLabel {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    cursor: pointer;
    font-weight: normal;
  }

  &__checkboxInput {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}