.card {
  width: 350px;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;

  &__notSelected:hover {
    opacity: 0.7;
  }

  &__selected {
    background-color: #2552a5;
  }
}

.challengeRatingContainer {
  border-right: 1px solid black;
  padding: 1rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.75rem;
  width: 95%;
  justify-content: space-between;
}

.mainSection {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 14px;

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    width: fit-content;
  }

  &__type {
    color: #a3a3a3;
  }
}

.sourceSection {
  display: flex;
  width: 15%;
  justify-content: flex-end;

  &__content {
    font-size: 11px;
    border-radius: 14px;
    border: 0.5px solid #a3a3a3ad;
    padding: 0.4rem;
    height: fit-content;
    background-color: var(--primary-bg-color);
  }
}
