.card {
  width: 350px;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  border: 2px solid black;
  box-sizing: border-box;
}

.challengeRatingContainer {
  border-right: 1px solid black;
  padding: 1rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.75rem;
  width: 95%; 
  justify-content: space-between;
}

.mainSection {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 14px;

  &__title {
    position: relative;

    .tooltip {
      position: absolute;
      bottom: 60%;
      left: 0%;
      transform: translateY(-50%);
      background-color: #000c;
      color: #fff;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 13px;
      white-space: nowrap;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

      &::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
      }
    }
  
    &:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  &__type {
    color: #a3a3a3;
  } 
}

.sourceSection {
  display: flex;
  width: 15%;
  justify-content: flex-end;

  &__content {
    font-size: 11px;
    border-radius: 14px;
    border: 0.5px solid #a3a3a3ad;
    padding: 0.4rem;
    height: fit-content;
  }
}
