.encounterListContainer {
  width: 100%;
  margin-top: 80px;
}

.encounterListContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 1rem;
  justify-items: center;
  padding: 16px;
  box-sizing: border-box;

  &__element {
    width: 100%;
  }
}

.spinnerContainer {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}
