@mixin startOpacity {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.hero {
  text-align: center;
  padding: 3rem 0 3rem 0;

  .styledList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
      font-size: 2rem;
      color: white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      margin-bottom: 1rem;
      position: relative;
      padding-left: 2rem;
      border-radius: 1rem;
      background-color: rgba(236, 157, 237, 0.5);
      @include startOpacity();

      @media (max-width: 768px) {
        font-size: 1.5rem;
      }

      &:nth-child(1)::before {
        content: '🔮';
      }

      &:nth-child(2)::before {
        content: '🧙‍♂️';
      }

      &:nth-child(3)::before {
        content: '⚔️';
      }

      &:nth-child(4)::before {
        content: '👑';
      }

      &::before {
        font-size: 2rem;
        position: absolute;
        left: -5%;
        top: 50%;
        transform: translateY(-50%);

        @media (min-width: 768px) {
          left: 5%;
        }
      }

      @media (max-width: 768px) {
        font-size: 1.2rem; // Уменьшаем шрифт на мобилках
        padding-left: 1.5rem;

        &::before {
          font-size: 1.5rem; // Уменьшаем маркер на мобилках
        }
      }
    }
  }

  p {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
  }

  .logo {
    width: clamp(200px, 80%, 600px);
    margin-top: 2rem;
    @include startOpacity();

    @media (min-width: 768px) {
      margin-bottom: 16rem;
    }
  }

  .dndLogo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40%;
    @include startOpacity();

    @media (max-width: 768px) {
      width: 60%;
    }
  }

  button {
    @include startOpacity();
  }

  .heroButton {
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 1.75rem;
    padding: 1rem 2rem;
    background-color: #ff4444;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 68, 68, 0.7);
    animation: glowPulse 2s infinite;
    transition: transform 0.3s ease;
  }

  .heroButton:hover {
    transform: scale(1.05);
  }

  @keyframes glowPulse {
    0% {
      box-shadow: 0 0 10px rgba(255, 68, 68, 0.7);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 68, 68, 1);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 68, 68, 0.7);
    }
  }

  // SHINE EFFECT
  .heroButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-20deg);
    pointer-events: none;
  }

  .heroButton:hover::before {
    animation: shine 1s ease;
  }

  @keyframes shine {
    0% {
      left: -75%;
    }
    100% {
      left: 125%;
    }
  }
}
