.statblockGeneratorContainer {
  margin-top: 80px;
  display: flex;
  padding: 15px;
  justify-content: center;
  flex-direction: row;
  min-height: 40vh;
}

.statblockGeneratorPanel {
  border-radius: 15px;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 3px solid black;

  &__titleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
  }

  &__title {
    color: var(--primary-btn-color);
    font-weight: bold;
    font-size: 24px;
    display: flex;
  }

  &__statsContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  &__deadElement {
    min-width: 10% !important;
  }

  &__statsElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 30%;

    &__text {
      font-size: 15px;
      font-weight: bold;
      color: white;
      margin-left: 10px;
    }

    input[type='text'] {
      font-size: 15px;
      padding: 8px;
      color: white;
      border-radius: 8px;
      border: none;
      background-color: var(--secondary-bg-color);
      width: 120px;
      margin-left: 10px;
    }

    input[type='checkbox'] {
      margin-left: 10px;
      width: auto;
    }
  }

  &__actionsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 5px;

    &__header {
      font-size: 20px;
      font-weight: bold;
      color: var(--primary-btn-color);
    }
  }

  &__actionsList {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 1rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &__element {
      padding: 10px 15px;
      font-size: 14px;
    }

    button {
      &:hover {
        color: white;
      }

      &:active {
        opacity: 0.8;
        border: 0.5px solid white;
      }
    }
  }

  &__notesContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &__title {
      font-size: 20px;
      font-weight: bold;
      color: var(--primary-btn-color);
    }
    textarea {
      height: 150px;
    }
  }
}
