@use '../MonsterStatsForm.module.scss';

.spinboxContainer {
    display: flex;
    align-items: center;
  }
  
  .spinboxButton {
    width: 24px;
    height: 24px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  
    &:hover:not(:disabled) {
      background: #e0e0e0;
    }
  }
  
  .statsPanel__input {
    width: 40px;
    text-align: center;
    margin: 0 4px;
  }