.categoriesList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  padding-top: 0;
  flex-grow: 1;
  overflow-y: auto;
}

.filtersContainer {
  border: 1px solid #b9b9b9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &:first-of-type {
    margin-top: 1rem;
  }

  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    align-items: center;
    transition: background-color 0.4s ease;

    &:hover {
      cursor: pointer;

      .filtersContainer__title {
        background-color: #0000005b;
      }

      .dropdownBtn {
        background-color: #0000005b;
      }
    }
  }

  &__title {
    padding: 1rem;
    margin: 0;
    font-size: 16px;
    align-self: start;
    width: 90%;
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
    padding-top: 0.5rem;
  }

  &__btn {
    color: black;
    padding: 0.75rem 1rem;
    font-size: 14px;
    transition: background-color 0.2s ease;
  }

  &__btnUnchecked {
    background-color: #e5e7eb;

    &:hover {
      background-color: #d1d5db;
      opacity: 0.8;
    }
  }
}

.dropdownBtn {
  width: 10%;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: calc(1rem + 2px) 0;
  background-color: var(--primary-bg-color);
  border-radius: 0 8px 0 0;
  box-sizing: border-box;
}

.dropdownIcon {
  transition: transform 0.3s ease;

  &__rotated {
    transform: rotate(180deg);
  }
}
